
@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import "fonts";
@import 'nullstyle';
@import 'footer';
@import 'headerstyle';

body {
  font-family: "Helios";
  font-weight: 400;
}
.container{
  max-width: 1680px;
  margin: 0 auto;
}
.mask {
  display: none;
  position: fixed;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  opacity: 0.91;
}
.mask-on{
  display: block;
  background-color: black;
  
}

//ACTION

.action {
  margin-top: 125px;
  transition: all 0.4s ease;
  height: 448px;
  margin-bottom:50px ;
  @media (max-width:1024px){
    margin-top: 70px;
  }
  @media (max-width:675px){
    height: 318px;
  }
}
.action .container {
  position: relative;
}

.action-background_left-side img {
  position: absolute;
  left: 0;
  top: 0;
  height: 448px;
  z-index: 2;
  @media (max-width:1300px){
    width: calc(200px + 656 * (100vw/1300));
    height: 400px;
  }
  @media (max-width:675px){
    display: none;
  }
  
}
.action-background_right-side img {
  position: absolute;
  right: 0px;
  top: 0;
  height: 448px;
  @media (max-width:1300px){
    height: 400px;

  }
  @media (max-width:675px){
    display: none;
  }
}
.action-main .container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.action-main__row {
  width: 100%;
  height: 448px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  @media (max-width:675px){
    justify-content: center;
    flex-direction: column;
    background-color: #003264;
    height: 318px;
  }
}
.action-tittle__row {
  font-family: "HeliosC";
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: white;
  align-items: flex-start;
  padding: 120px 0px;
  position: relative;
  z-index: 4;
  
  @media (max-width:1023px){
    margin-left: 10px;
  }
  @media (max-width:768px){
    margin-left: 25px;
  }
  @media (max-width:675px){
    align-items: center;
    padding: 25px 0px 40px 0px ;
    margin-left: 0px;
  }
}
.action-tittle {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  @media (max-width:1300px){
    font-size: calc(18px + 16 * (100vw/1300));
  }
  @media (max-width:675px) {
    line-height: 22px;
  }
}
.action__button {
  padding: 20px 30px;
  background: #E9862A;
  color: white;
  background-image: linear-gradient(90deg, #DC6D08 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  transition: all 1s linear;
  font-weight: 700;
  font-family: "HeliosC";
}
.action__button:hover {
  background-position: 100% 0, 0 0;
}
.action-main__imagine {
  position: absolute;
  right: 0px;
  padding-top: 17px;
  z-index: 3;
  @media (max-width:675px){
    bottom: 0;
    left: calc(-175px + 350*(100vw/675));
  }
}
.action-main__imagine img{
  
  overflow: hidden;
  @media(max-width:1300px){
    height: 334px;
    
  }
  @media (max-width:800px){
    margin-right: -100px;
  }
  @media(max-width:675px){
    height: 218px;
  }
}

//--------------------------------------------------//

// ADVANTAGES
.advantages .container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0px 25px;
  @media (max-width:1024px){
    padding: 0px;
  }
}
.advantages-slider_active {
  @media (max-width:1024px){
    display: none;
  }
}

.light {
  stroke: #4F4F4F;
  stroke-width: 3;
}
.advantages-slider__row {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  min-width: 0px;
  
}
.advantages-slider__item {
  width: 33.33%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 50px;
  border: 1px solid #EDEDED;
  transition: box-shadow 0.4s ease;
  @media (max-width:866px){
    padding: 100px 50px;
  }
  @media (max-width:650px){
    padding: 80px 50px;
  }
}
.advantages-slider__item:not(:nth-child(1)), .advantages-slider__item:not(:nth-child(3)){
  margin-left: -1px;
  @media (max-width:1024px){
    margin-left: 0px;
  }
}
.advantages-slider__item:nth-child(1), .advantages-slider__item:nth-child(2), .advantages-slider__item:nth-child(3){
  margin-bottom: -1px;
  @media (max-width:1024px){
    margin-bottom: 0px;
  }
}

.advantages-slider__imagine svg {
  width: 60px;
  height: 60px;
  margin-bottom: 25px;
  fill: #4F4F4F;
  @media (max-width:650px){
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
  }
}
.advantages-slider__description {
  display: none;
  
  font-size: 16px;
}
.advantages-slider__item:hover .advantages-slider__description {
  display: block;
}
.advantages-slider__item:hover {
  padding: 80px 50px 70px 50px ;
  box-shadow: 0px 0px 24px rgba(15, 18, 20, 0.3);
  @media (max-width:1024px){
    padding: 100px 50px 88px;
  }
  
  @media (max-width:826px){
    padding: 64px 40px 68px;
  }
  
}
.advantages-slider__item:hover .advantages-slider__imagine svg {
  width: 80px;
  height: 80px;
  fill: #E9862A;
  transition: all 0.4s ease;
  @media (max-width:650px){
    width: 60px;
    height: 60px;
  }
}
.advantages-slider__item:hover .light {
  stroke: #E9862A;
}
.advantages-slider__title {
  font-size: 20px;
  margin-bottom: 25px;
  @media (max-width:650px){
    font-size: 18px;
    margin-bottom: 20px;
  }
}
 .slick-track {
  display: flex;
}
 .slick-list {
  overflow: hidden;
}
.advantages-slider_disabled {
  display: none;
  @media (max-width:1024px){
    display: block;
  }
  @media (max-width:600px){
    display: none;
  }
}
.advantages-slider_disabled .slick-list.draggable {
  padding: 25px 25px;
}
ul.slick-dots{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dots li{
  padding: 0px 20px;
  @media (max-width:500px){
    padding: 0px 12.5px;
  }
}
 .slick-dots button{
  font-size: 0px;
  width: 10px;
  height: 10px;
  background: #E0E0E0;
  border-radius: 50%;
  @media (max-width:500px){
    width: 6px;
    height: 6px;
  }
}
.slick-dots .slick-active button {
  background: #E9862A;
}

// END ADVATAGES

//-------------------------------------------------------------------//

// EMPLOYEES

.employees {
  padding-bottom: 50px;
  @media (max-width:600px){
    padding-bottom: 30px;
  }
}

.employees .container {
  max-width: 1530px;
  margin: 0 auto;
  padding: 0px 25px;
  @media (max-width:600px) {
    padding: 0px 20px;
  }
}
.employees__item {
  padding: 0px 100px 0px 140px;
  max-height: 460px;
  background-color: #F7F7F7;
  @media (max-width:1200px){
    max-height: 400px;
  }
  @media (max-width:1024px){
    max-height: 100%;
    padding: 0px;
    
  }
}
.employees__item_row {
  display: flex;
  justify-content: space-between;
  @media (max-width:1024px){
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}
.employees-text {
  width: 45%;
  padding: 120px 0px 85px;
  @media (max-width:1200px){
    padding: 80px 0px;
  }
  @media (max-width:1024px){
    width: 100%;
    padding: 50px 0px;
    background-color: white;
  }
  @media (max-width:600px){
    padding: 25px 0px;
  }
}
.employees-text__title {
  font-size: 36px;
  line-height: 28px;
  margin-bottom: 20px;
  @media (max-width:600px){
    font-size: calc(14px + 14*(100vw/600));;
    margin-bottom: 5px;
  }
}
.employees-text__subtitle {
  font-size: 16px;
  margin-bottom: 40px;
  color: #828282;
  @media (max-width:1200px){
    margin-bottom: 30px;
  }
  @media (max-width:600px){
    font-size: 13px;
    margin-bottom: 15px;
  }
}
.employees-text__description {
  font-size: 18px;
  line-height: 32px;
  @media (max-width:1200px){
    font-size: 16px;
    line-height: 27px;
  }
  @media (max-width:1024px){
    font-size: 18px;
    line-height: 32px;
  }
  @media (max-width:600px){
    line-height: 22px;
    font-size: calc(10px + 6*(100vw/600));
  }
}
.employees-imagine {
  max-width: 450px;
  
  @media (max-width:1200px){
    max-width: 400px;
  }
  
}
.employees-imagine img {
  width: 100%;
  margin-top: -75px;
  @media (max-width:1377px) {
    margin-top: -65px;
  }
  @media (max-width:1200px){
    margin-top: -67px;
    margin-left: 20px;
  }
}
.employees-slider.slick-slider {
  position: relative;
}
.slick-arrow {
  position: absolute;
  top: 38%;
  z-index: 3;
  font-size: 0px;
  padding: 45px 25px;
  border: 1px solid #E0E0E0;
  @media (max-width:1024px){
    top: 22%;
  }
}
.slick-next {
  background: url('../img/nextarrow.svg') white center no-repeat;
  right: 40px;
  
}
.slick-prev{
  background: url('../img/prevarrow.svg') white center no-repeat;
  left: 40px;
}
.slick-prev.slick-disabled{
  background: url('../img/prevarrow.svg') transparent center no-repeat;
}
.slick-next.slick-disabled{
  background: url('../img/nextarrow.svg') transparent center no-repeat;
}

//END EMPOYEES

//--------------------------------------------------------------------------//

// SERVICES
.services {
  padding-bottom: 50px;
  @media (max-width:600px){
    display: none;
  }
}

.services .container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0px 25px;
}
.services-title {
  text-align: center;
  font-size: 24px;
  max-width: 883px;
  margin: 0 auto;
  padding-bottom: 70px;
}
.services-items__row {
  display: flex;
}
.services-item {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 45px 0px;
  transition: box-shadow 0.4s ease;
  @media (max-width:1024px){
    padding: 0px;
  }

}
.services-item:first-child .services-item__title {
  font-family: "Gilroy-Regular";
  font-weight: 400;
}
.services-item:hover {
  box-shadow: 0 14px 15px rgba(15, 18, 20, 0.1);
  @media (max-width:1024px){
    box-shadow: none;
  }
}
.services-item:hover .services-item__imagine {
  background-color: #E9862A;
}
.services-item:hover .services-item__imagine svg {
  fill: white;
}
.services-item:hover .button-more {
  display: block;
  @media (max-width:1024px){
    display: none;
  }
}
.services-item__imagine {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  color: black;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
  transition: background-color 0.4s ease;
  @media (max-width:1024px){
    margin-bottom: calc(20px + 25 *(100vw/1024));
  }
}
.services-item__imagine svg {
  width: 30px;
  height: 30px;
  fill: #4F4F4F;
}
.services-item__title {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 50px;
  @media (max-width:1024px){
    font-size: calc(12px + 8*(100vw/1024));
  }
  @media (max-width:650px){
    font-size: 14px;
  }
}
.button-more {
  display: none;
  padding: 20px 30px;
  color: #187CD3;
  border: 1px solid #EBEBEB;
}
.button-more img {
  margin-top: 2px;
  margin-left: 35px;
}

// END SERVICES 

//----------------------------------------------------------------------------------------------//

//VIDEO
.video .container {
  margin: -3px auto;
}
.video iframe {
  width: 100%;
  height: 620px;
  @media (max-width:1200px){
    height: calc(90px + 530 * (100vw/1200));
  }
}

// END VIDEO

//-----------------------------------------------------------------------------------------------//

//VALUES

.values {
  background-color: #F2F2F2;
  padding-bottom: 50px;
  @media (max-width:600px){
    padding-bottom: 30px;
  }
}
.values .container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0px 25px;
}

.title {
  text-align: center;
  padding: 50px 0px;
  font-size: 36px;
  @media (max-width:768px){
    font-size: calc(10px + 26*(100vw/768));
    padding: 40px 0px 30px 0px;
  }
}
.values-slider__item {
  background-color: white;
  padding: 55px 65px 60px 50px;
  min-height: 410px;
  @media (max-width:600px){
    padding: 40px 40px;
    min-height:300px
  }
}
.values-slider .slick-slide {
  width: 376px;
  margin-right: 30px;
  @media (max-width:600px){
    margin-right: 0px;
  }
}
.values-item_row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}
.values-item__title {
  font-size: 20px;
  margin-bottom: 30px;
  @media (max-width:600px){
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.values-item__text {
  font-size: 16px;
  line-height: 30px;
  @media (max-width:600px){
    font-size: 13px;
    line-height: 24px;
  }
}
.values-slider .slick-list{
  margin-bottom: 30px;
}

// END VALUES

//-----------------------------------------------------------------//

//VACANSY
.vacansy .container {
  max-width: 1238px;
  margin: 0 auto;
}

.all-vacansys {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  font-size: 18px;
  @media (max-width:767px){
    padding: 0px 25px 30px 25px;
  }
}
.all-vacancy__button_switch {
  width: 62px;
  height: 31px;
  background-color: #E9862A;
  border-radius: 20px;
  position: relative;
  
  @media (max-width:767px){
    width: 100%;
    height: 56px;
    background-color: #F2F2F2;
    border-radius: 0px;
    padding: 20px 39px 17px 17px;
    position: relative;
  }
}
.all-vacancy__button_switch svg{
  display: none;
  @media (max-width:767px){
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 46%;
    right: 20px;
  }
}
.main-center p{
  position: absolute;
  right: 55px;
  width: 340px;
  top: 5px;
  font-family: "Gilroy-Regular";
  @media (max-width:1177px){
    text-align: center;
    width: 300px;
  }
  @media (max-width:767px){
    position: unset;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    color: #828282;
  }
}
.ball {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: all 0.4s ease;
  @media (max-width:767px){
    display: none;
  }
}

.all-jobs {
  color: #828282;
  position: absolute;
  left: 95px;
  width: 120px;
  top: 5px;
  font-family: "Gilroy-Regular";
  @media (max-width:767px){
    display: none;
  }
}
.vacancy__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vacancy-items__row {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 55px;
  overflow: hidden;
  max-height: 518px;
  @media (max-width:1177px){
    padding: 0 40px;
    max-height: 724px;
  }
  @media (max-width:767px){
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 352px;
    padding: 0px;
  }
  @media (max-width:609px){
    max-height: 428px;
  }
}
.vacancy-items__row a{
  padding: 65px 20px;
  max-width: 376px;
  margin-bottom: 55px;
  transition: box-shadow 0.4s ease;
  border: 1px solid #EBEBEB;
  position: relative;
  @media (max-width:1250px){
    padding: 65px calc(0px + 50*(100vw/1250));
  }
  @media (max-width:1177px){
    max-width: calc(181px + 226*(100vw/1177));
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 40px calc(0px + 50*(100vw/1250)) 70px calc(0px + 50*(100vw/1250));
  }
  @media (max-width:767px){
    max-width: 100%;
    padding: 30px 20px;
    margin-bottom: -1px;
  }
}
.vacancy-items__row a:last-child(){
  @media (max-width:767px){
    margin-bottom: 0px;
  }
}
.vacancy-items__row a:nth-child(even){
  margin-right: 0px;
 
}
.vacancy-items__row a:nth-child(odd){
  @media (max-width:767px){
    margin-right: 0px;
  }
  
 
}

.vacancy-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @media (max-width:767px){
    text-align: left;
    align-items: flex-start;
    width: 60%;
  }
}


.vacancy-item__title {
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 45px;
  @media (max-width:767px){
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
  }
}
.vacancy-item__imagine {
  margin-bottom: 55px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 3px;
  background-color: #003264;
  transition: background-color 0.4s  ease;
  @media (max-width:767px){
    display: none;
  }
}
.vacancy-item__imagine svg {
  width: 20px;
  height: 20px;
  fill: white;
}
.vacancy-item__cash {
  font-size: 16px;
  margin-bottom: 55px;
  @media (max-width:1177px){
    margin-bottom: 0px;
  }
  @media (max-width:767px){
    color: #828282;
    font-size: 13px;
  }
}
.vacancy-item .button-more {
  display: block;
  @media (max-width:1177px){
    display: none;
  }
}

.vacancy-item__arrow {
  display: none;
  position: absolute;
  top: 50%;
  right: 25px;
  @media (max-width:767px){
    display: block;
  }
}
.vacancy-items__row a:hover {
  box-shadow: 0 14px 15px rgba(15, 18, 20, 0.1);
}
.vacancy-items__row a:hover .vacancy-item__imagine {
  background-color: #E9862A;
}
.more-vacansys {
  text-align: center;
  position: relative;
  padding: 22px 50px;
  background-color: #E9862A;
  font-size: 16px;
  margin-bottom: 90px;
  color: white;
  background-image: linear-gradient(90deg, #DC6D08 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  transition: all 1s linear;
  font-family: "HeliosC";
  font-weight: 700;
  @media (max-width:767px){
    margin-top: 30px;
  }
  @media (max-width:500px){
    margin-bottom: 30px;
  }
}
.more-vacansys:hover{
  background-position: 100% 0, 0 0;
}

//END VACANCYS

//------------------------------------------------------------------//

//FOR-STUDENTS
.for-students {
  text-align: center;
  @media (max-width:500px){
    display: none;
  }
}
.for-students .container{
  position: relative;
  max-width: 1480px;
  margin: 0 auto;
}
.for-students .title {
  padding: 85px 0px 30px 0px;
  line-height: 44px;
  @media (max-width:1024px){
    padding: 75px 0px 30px 0px;
  }
}
.for-students__background {
  position: absolute;
  height: 646px;
  z-index: -1;
  width: 50%;
  background-color: #F9F9F9;
  overflow: hidden;
  @media (max-width:1024px){
    height: 765px;
  }
}
.for-students__background:first-child {
  border-bottom-right-radius: 36px;
  border-top-right-radius: 36px;
  top: 0;
  left: 0;
}
.for-students__background:nth-child(2) {
  border-bottom-left-radius: 36px;
  border-top-left-radius: 36px;
  top: 0;
  right: 0;
}
.for-studets__subtitle {
  margin-bottom: 85px;
  font-size: 22px;
  @media (max-width:1024px){
    margin-bottom: 65px;
    font-size: 18px;
  }
}

.for-students__grid {
  display: grid;
  max-width: 1250px;
  margin: 0 auto 85px auto;
  grid-template-areas: "item1 item2 item3 item4";
  @media (max-width:1024px){
    display: inline-grid;
    grid-template-areas: 
    "item3 item1"
    "item2 item4";
    margin: 0 auto 15px auto;
    column-gap: calc(60px + 100*(100vw/1024));
  }
}

.for-students-item:first-child {
  grid-area: item1;
}
.for-students-item:nth-child(2) {
  grid-area: item2;
}
.for-students-item:nth-child(3) {
  grid-area: item3;
}
.for-students-item:nth-child(4) {
  grid-area: item4;
}
.for-students-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  @media (max-width:1024px){
    margin-bottom: 60px;
    font-size: 16px;
  }
}
.for-students-item__imagine {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 40px;
}
.for-students-item__text {
  font-size: 18px;
  @media (max-width:768px){
    font-size: 16px;
  }
}
.for-students-item__imagine svg{
  width: 30px;
  height: 30px;
}
.for-students__action {
  font-size: 22px;
  margin-bottom: 105px;
  font-family: "Gilroy-Regular";
  @media (max-width:1024px){
    font-size: 20px;
    margin-bottom: 0px;
  }
}
.for-students__action span a{
  color: #187CD3;
}

// END FOR-STUDENTS

//-------------------------------------------------------------------------//

// HISTORY

.history .container {
  max-width: 1530px;
  margin: 0 auto;
  
}
.history .title {
  padding-top: 50px 0px 0px 0px;
  @media (max-width:1024px){
    padding: 110px 0px 0px 0px;
  }
  @media (max-width:500px){
    padding: 20px 0px 0px 0px;
  }
}
.history-slider {
  margin-bottom:130px;
  @media (max-width:1024px){
  margin-bottom:80px;
  }
  @media (max-width:500px){
    margin-bottom: 20px;
  }
}
.history-slider__item {
  padding: 0px 0px 0px 140px;
  max-height: 446px;
  box-shadow: 0 7px 14px rgba(15, 18, 20, 0.1);
  position: relative;
  background-color: white;
  @media (max-width:1024px){
    padding: 0px 30px;
    max-height: 529px;
  }
}
.history-item_row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  @media (max-width:1024px){
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
  
}
.history-item__text {
  display: flex;
  flex-direction: column;
  padding: 87px 0px;
  width: 50%;
  @media (max-width:1024px){
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 30px 100px 30px;
  }
  @media (max-width:500px){
    padding: 30px 0px 70px 0px;
  }
}
.history-item__title {
  font-size: 36px;
  line-height: 28px;
  @media (max-width:1024px){
    margin-bottom: 20px;
    font-size: 28px;
  }
  @media (max-width:500px){
    margin-bottom: 5px;
    font-size: 20px;
  }
}
.history-item__subtitle {
  font-size: 16px;
  line-height: 28px;
  color: #828282;
  margin-bottom: 40px;
  @media (max-width:500px){
    font-size: 13px;
    margin-bottom: 20px;
  }
}
.history-item__description {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 40px;
  @media (max-width:1024px){
    font-size: 20px;
  }
  @media (max-width:500px){
    display: none;
  }
}
.history-item__read {
  @media (max-width:1024px){
    display: none;
  }
  @media (max-width:500px){
    display: block;
    
  }
}
.history-item__read a {
  font-size: 16px;
  color: #187CD3;
}
.history-item__imagine {
  position: absolute;
  right: 140px;
  bottom: 0px;
  z-index: 1;
  @media (max-width:1024px){
    position: relative;
    width: 112px;
    height: 112px;
    left: 0;
    border-radius: 50%;
    overflow: hidden;
    background-color: #F2F2F2;
    margin-top: 57px;
    
  }
  @media (max-width:500px){
    margin-top: 30px;
    width: 80px;
    height: 80px;
  }
}
.history-item__imagine img {
  @media (max-width:1024px){
    position: absolute;
    top: 0;
    left: -9px;
    width: 137px;
    height: 250px;
  }
  @media (max-width:500px){
    width: 98px;
    height: 178px;
  }
}
.history-background {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  @media (max-width:1024px){
    display: none;
  }
}

.history-border {
  position: absolute;
  width: 100%;
  transform: scale(0.9);
  z-index: -2;
  height: 50px;
  bottom: -30px;
  left: 0px;
  box-shadow: 0 10px 18px rgba(15, 18, 20, 0.1);
  @media (max-width:1024px){
    bottom: -20px;
  }
}

.history .slick-list {
  padding: 110px 0px;
  @media (max-width:1024px){
    padding: 50px 0px;
    
  }
  
}
.history-slider.slick-slider {
  position: relative;
}
.history .slick-slide {
  margin: 0px 25px;
}
.history .slick-prev {
  left: 65px;
}
.history .slick-next {
  right: 65px;
}
.history .slick-dots {
  position: absolute;
  left: calc(-70px + 508*(100vw/1024));
  bottom: 100px;
  @media (max-width:500px){
    bottom: 90px;
    left: calc(-40px + 241*(100vw/500))
  }
}

// END HISTORY

//-------------------------------------------------------------------//

//POP-UP


.popup__body {
  position: absolute;
  width: 100%;
  height: 795%;
  background-color: #828282;
  top: 0;
  left: 0;
  z-index: 51;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  
}
.popup__body:target {
  opacity: 1;
  visibility: visible;
}
.popup-close {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #E9862A;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 52;
  top: 0;
  right: -70px;
  @media (max-width:1300px){
    top: 40px;
    right: 40px;
  }
  @media (max-width:600px){
    width: 40px;
    height: 40px;
  }
}
.popup-close svg {
  width: 12px;
  height: 12px;
}
.popup-slider {
 min-height: 100vh;
 max-width: 1285px;
 margin: 0 auto;
 display: flex;
 align-items: center;
 justify-content: center;
 min-width: 0px;
 position: relative;
 z-index: 52;
 margin-top: 200px;
}
.popup__item {
 position: relative;
 z-index: 52;
 
 
 padding-bottom: 200px;
 max-width: 1145px;
  margin: 0 auto;
}
.popup__item_row {
  position: relative;
}
.popup__item-main_row {
  display: flex;
  justify-content: space-between;
  background-color: #F2F2F2;
  padding: 80px 140px 0px;
  @media (max-width:1024px){
    padding: 80px 80px 0px 40px;
  }
  @media (max-width:600px){
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  @media (max-width:500px){
    padding: 30px 25px;
  }
}
.popup__main-text {
  
  @media (max-width:768px){
    padding-top: 30px;
  }
  @media (max-width:600px){
    
    text-align: center;
  }
}
.popup__main-title {
  font-size: 36px;
  line-height: 28px;
  margin-bottom: 35px;
  @media (max-width:768px){
    font-size: 28px;
    margin-bottom: 20px;
  }
  @media (max-width:500px){
    font-size: 22px;
  }
}
.popup__main-subtitle {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 45px;
  @media (max-width:600px){
    margin-bottom: 20px;
  }
  @media (max-width:500px){
    font-size: 14px;
  }
}
.popup__main-description {
  font-size: 22px;
  line-height: 32px;
  @media (max-width:768px){
    font-size: 18px;
    line-height: 28px;
  }
  @media (max-width:500px){
    font-size: 16px;
  }
}
.popup__item-imagine {
  @media (max-width:600px){
    width: 112px;
    height: 112px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    background-color: #E0E0E0;
  }
  @media (max-width:320px){
    width: 80px;
    height: 80px;
  }
}
.popup__item-imagine img {
  @media (max-width:600px){
    position: absolute;
    width: 137px;
    height: 249px;
    left: -9px;
  }
  @media (max-width:320px){
    width: 98px;
    height: 178px;
  }
}
.popup__item-content{
  padding: 50px 143px 90px;
  background-color: white;
  text-align: left;
  @media (max-width:1024px){
    padding: 50px 40px 90px;
  }
  @media (max-width:500px){
    padding: 30px 25px 60px;
  }
  @media (max-width:320px){
    padding: 30px 25px;
  }
}
.popup__content-title {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 35px;
  font-family: "HeliosC";
  font-weight: 700;
  @media (max-width:768px){
    font-size: 28px;
    line-height: 32px;
  }
  @media (max-width:500px){
    font-size: 24px;
  }
  @media (max-width:320px){
    margin-bottom: 30px;
  }
}
.popup__content-text p{
 font-size: 18px;
 line-height: 34px;
 margin-bottom: 40px;
 @media (max-width:768px){
   font-size: 16px;
 }
 @media (max-width:500px){
   font-size: 14px;
   line-height: 28px;
 }
 @media (max-width:320px){
  margin-bottom: 30px;
 }
}
.popup__content-imagine {
  margin-bottom: 30px;
  @media (max-width:768px){
    margin-bottom: 110px;
  }
  @media (max-width:500px){
    margin-bottom: 40px;
  }
  @media (max-width:320px){
    margin-bottom: 30px;
  }
}
.popup__content-imagine img {
  width: 100%;
}
.popup__content-subtitle {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 60px;
  font-family: "HeliosC";
  font-weight: 700;
  @media (max-width:768px){
    display: none;
  }
}
.popup__content__excreation {
  border: 1px solid #E9862A;
  background-color: rgba(233, 134, 42, 0.02);
  padding: 40px 80px;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  margin-bottom: 50px;
  @media (max-width:500px){
    padding: 20px 25px;
    font-size: 14px;
    line-height: 28px;
  }
  
}
.popup__content-subsubtitle {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 35px;
  font-family: "HeliosC";
  font-weight: 700;
  @media (max-width:768px){
    font-size: 16px;
    line-height: 27px;
  }
  @media (max-width:320px){
    margin-bottom: 30px;
  }
}
.popup-slider .slick-next {
  background: url("../img/popup-arrownext.svg")#242627 center no-repeat;
  right: 50px;
  @media (max-width:1920px){
    right: calc(100 - 50*(100vw/1920));
  }
}
.popup-slider .slick-arrow {
  background-color: #242627;
}
.popup-slider .slick-prev {
  background: url("../img/popup-arrowprev.svg")#242627 center no-repeat;
  left: -90px;
  @media (max-width:1920px){
    left: calc(200px - 290*(100vw/1920));
  }
}
.popup-slider .slick-prev.slick-disabled{
  background: url('../img/popup-arrowprev.svg') transparent center no-repeat;
}
.popup-slider .slick-next.slick-disabled{
  background: url('../img/popup-arrownext.svg') transparent center no-repeat;
}